__pycache__
.ruff_cache
.pytest_cache
*/__pycache__
*/.pytest_cache
*/.ruff_cache
.git*
frontend/node_modules
.env
.github
.vscode
README.*
backend/.venv
Dockerfile*
*.gitignore
node_modules
.venv
backend/__pycache__
backend/.pytest_cache